[hub]
	protocol = ssh
[push]
	default = nothing
[pull]
	ff = only		
[user]
	name = Amasa Amos
	email = asamasoma@intentmedia.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	dom = diff origin/master
	ignored = !git ls-files -v | grep "^[[:lower:]]"

	graph = log --graph
  	last = log -n 10
  	commits = "!sh -c 'git log $1 --oneline | cut -d\" \" -f 1 | tr \"\n\" \" \"'"
  	url = !git remote -v|sed "'s|.*git[:@]\\(.*\\).git.*|http://\\1|;s|m:|m/|'"|uniq|xargs open
  	whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
  	discard = checkout -- .
  	rmtag = "!sh -c 'git tag -d $1; git push origin :refs/tags/$1'"

[merge]
	tool = vimdiff
	renamelimit = 3000
[rebase]
	autosquash = true

[include]
    path = ~/.gitconfig.local
